#resend
RESEND_API_KEY=

#twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTHTOKEN=
TWILIO_SENDER_NUMBER=
TWILIO_RECEIVER_NUMBER=

#discord
DISCORD_WEBHOOK_URL=

#api
API_URL_TO_CHECK=

#telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHATID=

#razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

#for api encryption
ENCRYPTION_KEY=""