#resend
RESEND_API_KEY=

#twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTHTOKEN=
TWILIO_SENDER_NUMBER=
TWILIO_RECEIVER_NUMBER=

#discord
DISCORD_WeBHOOK_URL=

#api
API_URL_TO_CHECK=

#telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHATID=